@import '../App/App.scss';

.Header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 .02rem 2px #bcbab9;

  .left-header, .right-header {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .right-header {
    justify-content: flex-end;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}


.App-logo {
  height: 40px;
  width: auto;
  margin: 0 0.625rem 0 0.3125rem;
}

/* Icons */

.icon {
  width: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifyBtn {
  margin: 0 0.9375rem 0 0.9375rem;
}


/* Search Bar */

.search-bar {
  background-color: $color-secondary;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    all: unset;
    font: 16px system-ui;
    color: $color-primary;
    width: 100%;
    height: 100%;
    padding: 6px 10px;
  }

  button {
    all: unset;
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    padding: 10px;
  }
}

.mini-bar {
  @media (max-width: 500px) {
    width: 40px;
    background: none;
    input {
      display: none;
    }
    button {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

::placeholder {
  color: $color-primary;
  opacity: 0.7;
}

// Targeting the clear input button in WebKit browsers
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; // Remove default appearance
  height: 0.9375rem; // Set desired height
  width: 0.9375rem; // Set desired width
  background-image: url('../assets/xmark-solid.svg'); // Path to your custom close icon
  background-repeat: no-repeat;
  cursor: pointer;
  fill: $color-primary; // Change the color here
}

// Optionally, change the color on hover
input[type="search"]::-webkit-search-cancel-button:hover {
  fill: darken($color-primary, 10%); // Darken the color slightly on hover
}
