@import '../App/App.scss';

.Header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 .02rem 2px #bcbab9;

  .left-header, .right-header {
    display: flex;
    align-items: center;
    flex: 1;
  }

  .right-header {
    justify-content: flex-end;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }
}


.App-logo {
  height: 40px;
  width: auto;
  margin: 0 0.625rem 0 0.3125rem;
}

/* Icons */

.icon {
  width: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifyBtn {
  margin: 0 0.9375rem 0 0.9375rem;
}
