@import '../App/App.scss';

.search-bar {
  background-color: $color-secondary;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  input {
    all: unset;
    font: 16px system-ui;
    color: $color-primary;
    width: 100%;
    height: 100%;
    padding: 6px 10px;
  }

  button {
    all: unset;
    fill: currentColor;
    width: 1.5rem;
    height: 1.5rem;
    padding: 10px;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }
}


::placeholder {
  color: $color-primary;
  opacity: 0.7;
}

// Targeting the clear input button in WebKit browsers
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; // Remove default appearance
  height: 0.9375rem; // Set desired height
  width: 0.9375rem; // Set desired width
  background-image: url('../assets/xmark-solid.svg'); // Path to your custom close icon
  background-repeat: no-repeat;
  cursor: pointer;
  fill: $color-primary; // Change the color here
}

// Optionally, change the color on hover
input[type="search"]::-webkit-search-cancel-button:hover {
  fill: darken($color-primary, 10%); // Darken the color slightly on hover
}

.search-results {
  margin-top: 20px;

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
  }

  p {
    color: #666;
  }
}


.search-results {
  position: absolute;
  top: 60px; // Below the search bar or header
  left: 0;
  right: 0;
  max-width: 600px; // Set a max width for better layout control
  margin: 0 auto;
  background-color: $color-white; // White background for results
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow for separation
  border-radius: 8px; // Rounded corners
  z-index: 999; // Ensure it sits above other elements

  // If there are many results, make it scrollable
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;

  // Custom scrollbar for results
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 4px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    p {
      color: #666;
      padding: 10px;
      text-align: center; // Center the text for no results found
    }

    li {
      padding: 5px;
      border-bottom: 1px solid #eee;

      &:hover {
        background-color: $color-grey; // Light grey hover effect
      }

      &:last-child {
        border-bottom: none; // Remove border for the last item
      }

      h3 {
        margin: 0 0 5px 0;
        font-size: 16px;
        color: $color-primary;
      }

      p {
        margin: 0 0 5px 0;
        font-size: 14px;
        color: #666;
        text-align: left;
      }
    }
  }
}
