@import '../App/App.scss';

.privacy-page {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: $text-color;

  h1, h2 {
    color: $color-primary;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center;
  }

  p {
    margin-bottom: 20px;
  }

  ul {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  a {
    color: $color-primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
